POSTGRES_CONTAINER_NAME=hw_10-postgres

POSTGRES_USER=hw_10_user
POSTGRES_PASSWORD=hw_10_password
POSTGRES_DB=hw10

POSTGRES_PORT=5432

DATABASE_URL=postgresql+asyncpg://hw_10_user:hw_10_password@127.0.0.1:5432/hw10

APP_CONTAINER_NAME=hw08-app-container
APP_HOST=127.0.0.1
APP_PORT=8000